{
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "backtick"],
    "object-curly-spacing": [2, "never"],
    "comma-dangle": [2, "never"],
    "react/jsx-filename-extension": [2, {"extensions": [".js"]}],
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": [2, "never"],
    "import/prefer-default-export": 0
  }
}
